
1
By using our site, you acknowledge that you have read and understand our Cookie Policy, Privacy Policy, and our Terms of Service.

Home
PUBLIC
Stack Overflow
Tags
Users
FIND A JOB
Jobs
Companies
TEAMS
What’s this?
Free 30 Day Trial
.gitignore for Visual Studio Projects and Solutions
Asked 10 years, 9 months ago
Active 5 months ago
Viewed 402k times

Report this ad

1165


469
Which files should I include in .gitignore when using Git in conjunction with Visual Studio Solutions (.sln) and Projects?

git
visual-studio
visual-studio-2012
gitignore
share  improve this question  follow 
edited Apr 19 at 11:48
community wiki
28 revs, 22 users 31%
nik.shornikov
3
Related question: stackoverflow.com/questions/72298/… – Greg Hewgill Jan 27 '10 at 1:35
There's also a topic on this for Hg: stackoverflow.com/questions/34784/… . Don't know if that config is directly transferable to git though. – Martin Suchanek Jan 27 '10 at 2:03 
12
I would be careful ignoring .exe and .pdb's, you may inadvertently ignore tooling that you store with your source (nant, nunit gui, etc...). – James Gregory May 21 '10 at 13:32
2
@murki - looks like this is the answer: coderjournal.com/2011/12/… – Ronnie Overby Jan 25 '12 at 19:19
7
With .sln files checked in, we get noise diffs such as -# Visual Studio 14     -VisualStudioVersion = 14.0.24720.0     +# Visual Studio 2013     +VisualStudioVersion = 12.0.31101.0 Can this be avoided? – Jean Jordaan Feb 26 '16 at 7:52 
show 1 more comment
20 Answers

613

See the official GitHub's "Collection of useful .gitignore templates".

The .gitignore for Visual Studio can be found here:
https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

share  improve this answer  follow 
edited Mar 19 '17 at 17:25
community wiki
4 revs, 2 users 62%
Chronial
9
Please note. This file contains an entry to ignore published files. However the way the rule is written, it will ignore Any folder you have called "Publish", and will there fore ignore anything you have under neath it. It does not specifically target the Visual Studio "Publishing" output. It will ignore it, but also other things. – Rex Whitten Oct 20 '14 at 14:43
7
@starfighterxyz if you think there is a bug in the gitignore, I would recommend creating a pull request. – Chronial Oct 20 '14 at 18:12
9
Well, I dont know (enough?) to say its a bug. I just happend to be using Publish/ as a Controller name, and as Project Folder names. I think this is just an edge case. Just something to save a few hours of your life :) – Rex Whitten Oct 30 '14 at 19:39
Any idea why Windows specific files like Thumbs.db and Desktop.ini are not listed in the file from the mentioned link? – Learner Aug 29 '16 at 8:22 
2
@Learner because these are in different files. You should add these to your personal global gitignore, instead of checking them in. github.com/github/gitignore/tree/master/Global – Chronial Sep 6 '16 at 3:29
add a comment

Report this ad

261

There's an online tool which allow you to generate .gitignore file based on your OS, IDE, language, etc. Take a look at http://www.gitignore.io/.

enter image description here

On 8/20/2014, here's the file that is generated for Visual Studio + Windows.

# Created by http://www.gitignore.io

### VisualStudio ###
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Roslyn cache directories
*.ide/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
.vs/slnx.sqlite

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding addin-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings 
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# If using the old MSBuild-Integrated Package Restore, uncomment this:
#!**/packages/repositories.config

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
